.container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	padding: 10px;
	border-radius: 8px;
	z-index: 10;
	backdrop-filter: blur(5px);
	overflow: hidden;
}

.header {


	&__back_to_menu {
		cursor: pointer;
	}
}

.content {
	height: 100vh;
	overflow: auto;
	display: flex;
	justify-content: center;

	&__menu {
		display: flex;
		flex-direction: column;
		gap: 20px;
		font-size: 24px;
		list-style: none;

		&_item {
			& a {
				position: relative;
				color: #484848;
				text-decoration: none;
				cursor: pointer;

				&::before {
					content: '';
					position: absolute;
					left: 0;
					bottom: -5px;
					width: 0;
					height: 1.5px;
					background-color: #333;
				}

				&:hover::before {
					width: 100%;
				}

				&::before {
					transition: width 0.5s;
				}
			}
		}
	}
}
