.container {
	height: 100vh;
	position: relative;
	padding: 10px;
}

img {
	width: 42px;
	height: 42px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}
.header__logo {
	padding: 0 10px;
}
.header__menu {
	cursor: pointer;
}
.my_logo {
	align-self: end;
	pointer-events: none;
}
.my_logo img {
	width: 130px;
	height: 55px;
}