.category_list {
	width: 100%;
	padding: 0 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.category_list:after {
	content: '';
	position: absolute;
	top: 12 px;
	left: 3px;
	width: 20px;
	height: 10px;
	border-radius: 2px;
	background: var(--after-bg-color, #000);
}

.list li {
	list-style-type: none;
}

.category_list.products::after {
	--after-bg-color: rgb(85, 114, 195);
}

.category_list.wife::after {
	--after-bg-color: rgb(118, 192, 220);
}

.category_list.daughter::after {
	--after-bg-color: rgb(236, 103, 105);
}

.category_list.car::after {
	--after-bg-color: rgb(249, 199, 97);
}

.category_list.things::after {
	--after-bg-color: rgb(147, 203, 121);
}

.category_list.me::after {
	--after-bg-color: rgb(64, 161, 115);
}
