@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
#root {
	font-family: "LXGW WenKai TC", cursive;
  font-weight: 400;
  font-style: normal;
	background: #abaaaa;
}
.container {
	width: 400px;
	height: 100vh;
	margin: 0 auto;
	background: #fff;
	border-radius: 8px;
}
