* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
#root {
	background: #abaaaa;
	
}
.container {
	width: 400px;
	height: 100vh;
	margin: 0 auto;
	background: #fff;
	border-radius: 8px;
	
}

.logo {
	position: absolute;
	right: 55px;
	bottom: 0;
	opacity: .29;
	pointer-events: none;
	& img {
		width: 130px;
		height: 55px;
	}
}
